body 
{
	background-color: black;
	color: white;
	min-height: 140px;
	min-width: 120px;
	margin: 0px 10px 10px 10px;
	padding: 0px;
}

div#controls
{
	height: 20px;
	margin: 0px 0px 0px 34px;
}

div#controls a { margin-right: 5px; }

#now_playing
{
	width: 120px;
	height: 120px;
	position: absolute;
	font-weight: 700;
	vertical-align: baseline;
}

#now_playing_info
{
	padding-top: 5px;
	background: url(/imgs/black1px.png);
	position: absolute;
	left: 0px;
	bottom: 0px;
	text-align: center;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	height: 36px;
	width: 120px;
}

#now_playing_info span { display: block; }
#now_playing_info_track
{
	font-size: 13px;
	margin-bottom: 2px;
}
#now_playing_info_artist { font-size: 11px; }

img#cover 
{
	width: 120px;
	height: 120px;
	display: block;
}