.popup_display 
{
	background-color: black;
	color: white;
	padding: 0px;
}

#controls
{
	margin: 0;
	position: relative;
	z-index: 600;
}

#controls a 
{ 
	cursor: pointer;
	display: inline-block;
	opacity: 0.95;
	position: relative;
	vertical-align: middle;
}

div.controls-left  { float: left;  }
div.controls-right { float: right; }

#now_playing
{
	font-weight: bold;
	position: absolute;
	vertical-align: baseline;
}

#now_playing_info
{
	background: url(/imgs/black1px.png);
	bottom: 0px;
	left: 0px;
	line-height: 1;
	position: absolute;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	text-align: center;
}

#now_playing_info span 
{ 
	cursor: pointer;
	display: block; 
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
}
	
#now_playing_info_artist 
{ 
	color:#3995cd;
	font-weight: normal;
}

#cover { display: block; }
