.popup_display 
{
	background-color: black;
	color: white;
	font-size: 0px;
	padding: 0px;
}

#controls
{
	margin: 0;
	position: relative;
	z-index: 600;
}

#control-play { display: none; }
#controls a 
{ 
	cursor: pointer;
	display: inline-block;
	opacity: 0.95;
	position: relative;
	vertical-align: middle;
}

div.controls-left  { float: left;  }
div.controls-right { float: right; }

#now_playing
{
	font-weight: bold;
	position: absolute;
	vertical-align: baseline;
}

#shadow_bottom, #now_playing_info
{
    bottom: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
}

#shadow_top
{
	height: 1px;
    top: 0px;
	left: 0px;
	position: absolute;
	width: 100%;
	background: rgba(0,0,0,0.1);
}

#shadow_bottom
{
    background: -webkit-linear-gradient(bottom, rgba(0,0,0,1), rgba(0,0,0,0.9) 4.6%, rgba(0,0,0,0.8) 9.7%, rgba(0,0,0,0.7) 15.5%, rgba(0,0,0,0.6) 22.2%, rgba(0,0,0,0.5) 30.1%, rgba(0,0,0,0.40) 39.8%, rgba(0,0,0,0.25) 52.3%, rgba(0,0,0,0.1) 69.9%, rgba(0,0,0,0));
    height: 40%;
	line-height: 1;
}

#now_playing_info
{
	line-height: 1;
	font-family: Arial,Helvetica,Verdana,sans-serif;
	text-align: left;
}

#now_playing_info span 
{
	cursor: pointer;
	display: block; 
	overflow: hidden;
	text-overflow: ellipsis; 
	white-space: nowrap;
    text-shadow: 1px 1px 2px rgba(0,0,0,0.65);
    
}
	
#now_playing_info_artist 
{ 
	color: #CCCCCC;
	font-weight: normal;
}

#cover 
{ 
	display: block; 
}
