@import url('../popup.css');

.popup_display 
{
	min-height: 278px;
	min-width: 250px;
	margin: 0px 12px 12px 12px;
}

#controls
{
	height: 28px;
	line-height: 28px;
	padding-right: 3px;
}

#controls a 
{ 
	height: 16px;
	margin-right: 6px;
}

#controls a:hover { opacity: 1; }
#control-settings { background: url(/imgs/large/settings.png); width: 16px; }
#control-prev     { background: url(/imgs/large/prev.png);     width: 24px; }
#control-next     { background: url(/imgs/large/next.png);     width: 24px; }
#control-pause    { background: url(/imgs/large/pause.png);    width: 16px; }
#control-play     { background: url(/imgs/large/play.png);     width: 16px; }

#now_playing { height: 250px; }
#now_playing_info
{
	padding: 11px 9px 0px 9px;
	height: 45px;
	width: 232px;
}

#now_playing_info_track
{
	font-size: 16px;
	margin-bottom: 2px;
}
#now_playing_info_artist { font-size: 16px; }

#cover 
{
	height: 250px;
	width: 250px;
}
