@import url('../popup.css');

.popup_display
{
	min-height: 140px;
	min-width: 120px;
	margin: 0px 3px 3px 3px;
}

#controls
{
	height: 20px;
	line-height: 20px;
}

#controls a 
{ 
	height: 10px;
	margin-right: 5px; 
	background-image: url(/imgs/small.png);
}

#controls a:hover { opacity: 1; }
#control-settings { width: 10px; margin-left: 5px; }
#control-prev	  { background-position: -10px; width: 15px; }
#control-pause	  { background-position: -25px; width: 10px; }
#control-play	  { background-position: -35px; width: 10px; }
#control-next	  { background-position: -45px; width: 15px; }

#now_playing { height: 120px; }
#now_playing_info
{
	padding: 5px 3px 0px 3px;
	height: 35px;
	font-size: 14px;
	line-height: 15px;
	width: 114px;
}

#now_playing_info_track { margin-bottom: 2px; }
#cover 
{
	height: 120px;
	width: 120px;
}
