@import url('../popup.css');

#popup_display
{
	min-height: 140px;
	min-width: 120px;
	margin: 0px 10px 10px 10px;
}

div#controls
{
	height: 20px;
	line-height: 20px;
}

div#controls a 
{ 
	height: 10px;
	margin-right: 5px; 
}

#control-settings
{
	background: url(/imgs/minimal/settings.png);
	width: 10px;
}

#control-prev 
{
	background: url(/imgs/minimal/prev.png);
	width: 17px;
}

#control-pause 
{
	background: url(/imgs/minimal/pause.png);
	width: 10px;
}

#control-play 
{
	background: url(/imgs/minimal/play.png) no-repeat;
	width: 10px;
}

#control-next 
{
	background: url(/imgs/minimal/next.png);
	width: 17px;
}

#now_playing
{
	height: 120px;
	width: 120px;
}

#now_playing_info
{
	padding-top: 5px;
	height: 36px;
	width: 120px;
}

#now_playing_info_track
{
	font-size: 13px;
	margin-bottom: 2px;
}
#now_playing_info_artist { font-size: 11px; }

img#cover 
{
	height: 120px;
	width: 120px;
}
