@import url('../popup.css');

.popup_display
{
	min-height: 80px;
	min-width: 290px;
	margin: 5px;
}

#controls
{
	float: right;
	height: 20px;
	line-height: 20px;
}

#controls a 
{ 
	height: 16px;
	margin-right: 6px;
}

#controls a:hover { opacity: 1; }
#control-settings { background: url(/imgs/large/settings.png);	width: 16px; }
#control-prev	  { background: url(/imgs/large/prev.png);		width: 24px; }
#control-next	  { background: url(/imgs/large/next.png);		width: 24px; }
#control-pause	  { background: url(/imgs/large/pause.png);		width: 16px; }
#control-play	  { background: url(/imgs/large/play.png);		width: 16px; }
#control-play	  { background: url(/imgs/small/play.png);		width: 10px; }

#now_playing { height: 80px; }
#now_playing_info
{
	margin-left: 95px;
	height: 50px;
	width: 185px;
	text-align: left;
}

#now_playing_info_track
{
	font-size: 16px;
	margin-bottom: 2px;
}
#now_playing_info_artist { font-size: 16px; }

#cover 
{
	height: 80px;
	width: 80px;
}
