@import url('../popup.css');

.popup_display
{
	min-height: 16px;
	min-width: 390px;
	margin: 5px 6px 5px 6px;
}

#controls
{
	float: right;
	height: 16px;
	line-height: 16px;
	padding-top: 1px;
}

#controls a 
{ 
	height: 10px;
	margin-right: 5px;
	background-image: url(/imgs/small.png);
}

#controls a:hover { opacity: 1; }
#control-settings { width: 10px; margin-left: 5px; }
#control-prev	  { background-position: -10px; width: 15px; }
#control-pause	  { background-position: -25px; width: 10px; }
#control-play	  { background-position: -35px; width: 10px; }
#control-next	  { background-position: -45px; width: 15px; }
#control-like	  { 							width: 10px; margin-left: 10px;}
.not_liked { background-position: -60px; }
.is_liked { background-position: -70px; }

#now_playing { height: 16px; }
#now_playing_info
{
	margin-left: 26px;
	height: 16px;
	width: 262px;
	text-align: left;
	font-size: 14px;
	line-height: 15px;
}

#now_playing_info span 
{
	display: inline-block;
	max-width: 106px;
	padding-top: 2px;
}

#now_playing_info_track
{
	margin-right: 5px;
}

#cover 
{
	height: 25px;
	width: 25px;
	position: relative;
	top: -4px;
	left: -5px;
}

#shadow_top, #shadow_bottom { display: none; }
