@import url('../popup.css');

.popup_display
{
	min-height: 16px;
	min-width: 290px;
	margin: 5px;
}

#controls
{
	float: right;
	height: 16px;
	line-height: 16px;
}

#controls a 
{ 
	height: 10px;
	margin-right: 5px; 
}

#controls a:hover { opacity: 1; }
#control-settings { background: url(/imgs/small/settings.png);	width: 10px; }
#control-prev	  { background: url(/imgs/small/prev.png);		width: 15px; }
#control-next	  { background: url(/imgs/small/next.png);		width: 15px; }
#control-pause	  { background: url(/imgs/small/pause.png);		width: 10px; }
#control-play	  { background: url(/imgs/small/play.png);		width: 10px; }

#now_playing { height: 16px; line-height: 14px; }
#now_playing_info
{
	margin-left: 26px;
	height: 16px;
	width: 182px;
	text-align: left;
}

#now_playing_info span 
{
	display: inline-block;
	max-width: 86px;
	padding-top: 1px;
}

#now_playing_info_track
{
	font-size: 14px;
	margin-right: 5px;
}
#now_playing_info_artist { font-size: 14px; }

#cover 
{
	height: 25px;
	width: 25px;
	position: relative;
	top: -4px;
	left: -5px;
}
